:host {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);

  .overlay {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 70%;
  }

  .modal {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: calc(100% - 32px);

    padding: 16px;
    background-color: white;
  }
}

@media only screen and (min-width: 678px) {
  :host {
    .modal {
      width: calc(678px - 32px);
    }
  }
}
