/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: monospace;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  padding: 16px;
}

.tag {
  display: inline-flex;
  align-items: center;
  border: 1px solid lightcoral;
  // background-color: lightcoral;
  // color: white;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
}

input[type="text"] {
  height: 44px;
  padding: 0 16px;
  font-size: 16px;

  border-radius: 0;
  appearance: none;
  border: 1px solid gray;

  &:focus-visible {
    outline: none;
  }
}

textarea {
  font-size: 16px;
  border-radius: 0;
}

.btn {
  height: 44px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;

  border-radius: 0;
  appearance: none;
  border: 1px solid gray;
  color: black;
}

@media only screen and (min-width: 678px) {
  .container {
    width: 678px;
    margin-left: auto;
    margin-right: auto;
  }
}
