<header>
  <form class="container" [formGroup]="searchForm">
    <input #search formControlName="search" type="text" placeholder="Search" />
  </form>
</header>

<main class="container">
  <button class="btn" (click)="editQuote()">New quote</button>

  <article class="quote" *ngFor="let quote of filteredQuotes" (click)="editQuote(quote)">
    <blockquote>{{ quote.content }}</blockquote>
    <div class="authors">- {{ quote.author || 'Unknown' }}</div>
    <div class="tags" *ngIf="quote.tags?.length">
      <span class="tag" *ngFor="let tag of quote.tags">{{ tag }}</span>
    </div>
  </article>
</main>

<q-modal class="new-quote" *ngIf="showEditQuoteModal" (close)="showEditQuoteModal = false">
  <h2>New quote</h2>
  <form [formGroup]="quoteForm">
    <textarea #content formControlName="content" rows="8" placeholder="New quote" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
    <input type="text" formControlName="author" placeholder="Author" />
    <input type="text" formControlName="tags" placeholder="Tags" />

    <div class="actions">
      <button type="button" class="btn" (click)="deleteQuote()">Delete</button>
      <button type="button" class="btn" (click)="cancelEditing()">Cancel</button>
      <button type="submit" class="btn" (click)="saveQuote()">Save</button>
    </div>
  </form>
</q-modal>
